<section>
    <h2>PROYECTOS</h2>
    <div class="line"></div>
    <div>

    </div>
       
</section>
<style>
    section {
        padding: 50px 20px;
        box-sizing: border-box;
        position: absolute;
        top: 100px;
        width: 100%;
        }
    
    h2 {
        font-family: var(--cocogoose-light);
        font-size: 2.5rem;
        margin: 0;
        color: var(--light-blue);
    }
    .line{
        height: 4px;
        background: var(--light-blue);
        margin: 0px 0 40px -10px;
        width: 100%;
    }
</style>