<button id="btnScrollToTop" class="scroll-to-top">
    <svg class="arrow-up" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 18.75 7.5-7.5 7.5 7.5" />
        <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 7.5-7.5 7.5 7.5" />
    </svg>
</button>

<style>
    .scroll-to-top {
        padding: 3px;
        display: none;
        position: fixed;
        bottom: 10px;
        right: 10px;
        /* fill: #FFF; */
        background: none;
        border: none /*1px solid var(--dark-blue)*/;
        /* border-radius: 20px;  */
        width: 35px;
        height: 35px;
        cursor: pointer;
        z-index: 9999;
        transition: all 0.3s ease-in-out;
    }

    .scroll-to-top:hover {
        transform: scale(1.2);
    }

    .scroll-to-top.show {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .arrow-up {
        width: 50px;
        height: 50px;
    }
    .arrow-up path {
        stroke: #fff;
        stroke-width: 2;
    }
    .arrow-up:hover path {
        stroke: var(--red);
    }

    @media only screen and (min-width: 901px) {
        .scroll-to-top {
            padding: 6px;
            height: 50px;
            width: 50px;
        }  
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const btnScrollToTop = document.getElementById("btnScrollToTop");

        window.addEventListener("scroll", function () {
            if(!btnScrollToTop) return;
            if (window.scrollY > 50) {
                btnScrollToTop.classList.add("show");
            } else {
                btnScrollToTop.classList.remove("show");
            }
        });
        if(!btnScrollToTop) return;
        btnScrollToTop.addEventListener("click", function () {
            window.scrollTo({ top: 0, behavior: "smooth" });
        });
    });
</script>