<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/images/logoisotipo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>DHISO - Ingeniería y Construcción</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	@font-face {
		font-family: 'Cocogoose Light';
		src: url('/fonts/cocogoose.ttf');
	}
	@font-face {
		font-family: 'Helvetica Regular';
		src: url('/fonts/helvetica.ttf');
	}
	:root {
		--gray: #606060;
		--red: #FF0138;
		--light-blue: #061D41;
		--dark-blue: #041327;
		--cocogoose-light: 'Cocogoose Light';
		--helvetica-regular: 'Helvetica Regular';
	}
	*, *::before, *::after {
			box-sizing: border-box;
			text-decoration: none;
		}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		scroll-behavior: smooth;
	}
	.swal2-popup {
  		font-family: var(--helvetica-regular) !important;
	}

</style>
